html, body {
    margin: 0;
    padding: 0;
    background: #ddd;
    color: #333;
    text-shadow: #ccc 0px 1px 1px;
    font-family: 'Helvetica';
}

pre {
    text-shadow: none;
}

#wrap {
    width: 800px;
    margin: auto;
}

h1 {
    font: 5em 'Quicksand';
    margin: 10px 0;
    padding: 0;
    text-align: center;
}

h2 {
    font: 3em 'Quicksand';
    margin: 5px 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

p {
    line-height: 2;
    margin: 0;
    padding: 0;
}

a { color: #1C7813; text-decoration: none; }
a:hover { color: #4E9E47; }

div.menu {
    padding: 2px 0;
    margin: 0;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
}

/*div.menu {
    padding: 2px 0;
    margin: 0;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
}
div.menu a, div.menu a:hover {
    color: #fff !important;
    background: #aaa; 
    border-radius: 3px; 
    padding: 5px; 
    margin: 0 5px 10px 5px;
}

div.menu a:hover {
    color: #fff;
    background: #ccc;
}


ul.cloud {
    margin: 10px 0;
    padding: 0;
}
ul.cloud li.label {
    background: none; border-radius: none
}
ul.cloud li.sig a {
    background: #666;
}
ul.cloud li.sig a:hover {
    background: #ccc;
}
*/

ul.cloud li {
    list-style: none inside; 
    display: block;
    font-size: .7em;
    margin: 20px 0;
}

li.header {
    font-weight:bold;
}

h1 span { margin: 0 5px; display: inline-block; }
h1 .char4 { margin-right: 10px; }
h1 .char1, h1 .char2, h1 .char3, h1 .char4 { color: #333; }
h1 .char5, h1 .char6, h1 .char7 { color: #999; }

div.example {
    margin: 30px 0;
}

.note {
    font-size: .8em;
}